<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProGift</title>
    <link rel="stylesheet" href="gifts.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="../favicon.ico">
  </head>
  <body>
    <main role="main">
      <nav role="navigation">
        <div class="logo">ProGift</div>
      </nav>
      <section class="content" role="region">
        <div class="side-bar">
          <div class="side-bar-content">
            <img class="profile-pic" src="./profilepic.png">
            <span class="side-bar-text">
              <header>
                <h1 class="fullname"></h1>
              </header>
              <a href='#' class="logout">Log out</a>
              <form class="search-users" role="form">

                <input type="text" class="username" placeholder="Search by username">
                <button type="submit" class="submit-user-search">submit</button>
              </form>
              <span class="error-message"></span>
            </span>
          </div>
        </div>
      <div class="list-container">
        <div class="list-content">
          <h1 class="display-name"></h1>
          <div class="gift-info">
            <ul class="gift-list"></ul>
            <form class="gift-input" role="form">
              <input type="text" class="gift-name" placeholder="Item Name" required>
              <span class="price-box">
                <span class="money">$</span>
                <input type="number" class="gift-price"
                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                 maxlength="5" required>
              </span>
              <input type="text" class="gift-link" placeholder="Item Link" required>

              <a href="#" class="gift-submit">submit</a>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="friends.js"></script>
  </body>
</html>
