<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProGift</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="../favicon.ico">
  </head>
  <body>
    <main role="main">
      <nav role="navigation">
        <div class="logo">ProGift</div>
      </nav>
      <section class="content" role="region">
        <div class="landing-info">
          <header>
            <h1>All-in-one Gift Registry Service</h1>
          </header>
          <ul>
            <li>Eliminate the hassle of multiple gift registries.</li>
            <li>Keep all your gifts in one place.</li>
            <li>Perfect for Weddings, Baby Showers, and Holidays!</li>
          </ul>
        </div>
        <div class="forms">
          <form class="login-form" role="form">
            <fieldset>
              <legend>Log In</legend>
              <div class="error-message"></div>
              <label for="username">Username</label>
              <input type="text" class="username" name="username" placeholder="Enter Username" value="eugene20" required>

              <label for="password">Password</label>
              <input type="password" class="password" name="password" placeholder="Enter Password" value="oP3nup13" required>

              <button type="submit" class="login-submit">Log In</button>
            </fieldset>
          </form>
          <p class="haveAccount">Don't have an account? <a href="javascript:void(0);" class="access-register">Register</a></p>
      </div>
      <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="client.js"></script>

  </body>
</html>
