<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProGift</title>
    <link rel="stylesheet" href="gifts.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <nav role="navigation">
        <div class="logo">ProGift</div>
      </nav>
      <section class="content" role="region">
        <div class="side-bar">
          <div class="side-bar-content">
            <img class="profile-pic" src="./profilepic.png">
            <span class="side-bar-text">
              <h1 class="fullname"></h1>
              <a href='#' class="logout">Log out</a>
              <form class="search-users" role="form">
                <div class="error-message"></div>
                <input type="text" class="username" placeholder="Search by username">
                <button type="submit" class="submit-user-search">submit</button>
              </form>
            </span>
          </div>
        </div>
        <div class="list-container">
          <div class="list-content">
            <h1 class="list-title">My List</h1>
            <ul class="gift-list"></ul>
            <div class="gift-info">
              <form class="gift-input" role="form">
                <input type="text" class="gift-name" placeholder="Item Name" required>
                <span class="price-box">
                  <span class="money">$</span>
                  <input type="text" class="gift-price" required>
                </span>
                <input type="text" class="gift-link" placeholder="Item Link" required>

                <a href="#" class="gift-submit">submit</a>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="gifts.js"></script>
  </body>
</html>
