<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ProGift</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="login">
      <form class="login-form">
        <fieldset>
          <legend>Log In</legend>
          <label for="username">Username</label>
          <input type="text" class="username" name="username" placeholder="Enter Username" required>

          <label for="password">Password</label>
          <input type="password" class="password" name="password" placeholder="Enter Password" required>

          <button type="submit" class="login-submit">Log In</button>
        </fieldset>
      </form>
      <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="client.js"></script>
    </div>
  </body>
</html>
