* {
  box-sizing: border-box;
}

body {
  padding: 60px 0 0;
  margin: 0;
  font-size: 18px;
  background-color: grey;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.signup-form, .login-form {
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  background: white;
  margin: 0 auto;
}

.signup-form legend, .login-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  text-align: center;
  margin: 0 auto 45px;

}

button[type="submit"] {
  height: auto;
  font-size: 20px;
  text-align: center;

}

label {
  display: block;
}

.haveAccount {
  text-align: center;
}
