* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: linear-gradient( 180.3deg,  rgba(10,86,199,1) 23.7%, rgba(61,166,255,1) 101.5% );
  background-size: cover;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  color: #F4EDE6;
}

.forms {
  margin-top: 50px;
}
a {
  color: #6BC71F;
}

a:hover {
  color: #539B14;
}

a:visited {
  color: #993AE8;
}

.error-message {
  font-size: 15px;
  color: red;
}

.logo  {
  padding-top: 3px ;
  font-family: 'Pacifico', cursive;
}

.content {
  width: auto;
  height: auto;
  margin: 100px 10% 0 5%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "landing-info signup-form";
}

nav {
  width: 100%;
  background-color: rgb(27, 33, 39,0.8);
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 6px -6px, black;
  -moz-box-shadow: 0 8px 6px -6px, black;
  box-shadow: 0 8px 6px -6px, black;
}

nav .logo {
  font-size: 40px;
  margin-left: 5%;
}

label {
  margin: 3px 0;
}

fieldset {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}


.landing-info {
  grid-area: landing-info;
  margin: 0 auto;
  margin-top: 70px;
}

.landing-info h1 {
  margin-top: 50px;
  font-size: 50px;
}

.landing-info ul {
  font-size: 25px;
  line-height: 2em;
  width: 90%;
  margin: auto;

}


.signup-form, .login-form {
  color: #1B2121;
  grid-area: signup-form;
  margin: 0 auto;
  margin-right: 100px;
  width: 350px;
  padding: 40px;
  border-radius: 8px;
  background: white;
  margin: 0 auto;
}

.signup-form legend, .login-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  text-align: center;
  margin: 0 auto 45px;

}

.signup-form label, .login-form label {
  display: block;
  font-size: 16px;
}
.signup-form input, .login-form input {
  height: 30px;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 3px;
}

.form-submit, .login-submit {
  width: 100%;
  margin-top: 5px;
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.form-submit:hover,.login-submit:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.form-submit:active, .login-submit:active {
	position:relative;
	top:1px;
}

.username, .password, .firstName, .lastName {
  width: 100%;
}


.haveAccount {
  text-align: center;
  font-size: 20px;
}

.gifts {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .content {
    display: grid;
    margin: 50px 0 0 0;
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    grid-template-areas:
    "landing-info"
    "signup-form"
  }

  nav .logo {
    text-align: center;
    margin: 0;

  }

  .landing-info {
    margin: 0 auto;
  }

  .landing-info h1 {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
  }

  .landing-info ul {
    font-size: 14px;
    width: 100%;
  }

  .login-form {
    margin-top: 30px;
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    display: grid;
    margin: 50px 0 0 0;
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    grid-template-areas:
    "landing-info"
    "signup-form"
  }

  nav .logo {
    text-align: center;
    margin: 0;
    font-size: 60px;
  }

  nav {
    height: 93px;
  }

  .landing-info {
    margin: 0 10px;
  }

  .landing-info h1 {
    margin-top: 80px;

    text-align: center;
  }

  .signup-form {
    margin-top: 15px;
  }

  .login-form {
    margin-top: 40px;
  }

  .giftPic {
    display: none;
  }
}
